<h1>User Info</h1>
<div>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <h3>name <%= current_user.name %></h3>
  <h3>introduction <%= current_user.introduction %></h3>
</div>
  <% if @user == current_user %>
    <%= link_to 'プロフィール編集', edit_user_path(@user) %>
  <% end %>